<h1>Sign In</h1>
{{input type="text" class="form-control" value=email placeholder="Email"}}
{{input type="password" class="form-control" value=password placeholder="Password"}}
<button class='btn btn-default' {{action 'signIn'}}>{{fa-icon 'sign-in'}}Sign In</button>
