<!--
  <button type="button" class="btn" name="button">Test User Display Thingy</button> -->

  <p>{{model.user}}</p>
<!--
  <ul>
    <li id="printHere"></li>
  </ul>

  <ul>
  {{#each user in model.user}}
    <li>{{#link-to 'user' user.id}}{{user.name}}{{/link-to}}</li>
  {{/each}}
  </ul> -->
