<div class='page-header'>
    <h1>You must be signed in to use this app</h1>
</div>
<div class='list-group'>
    {{#link-to 'sign-up' class='list-group-item'}}Sign Up{{/link-to}}
    <br>
    {{#link-to 'sign-in' class='list-group-item'}}Sign in{{/link-to}}
</div>

<div class="container">
  <br>
  {{new-game saveGame="saveGame"}}
  <br>
  <button type="button" class="btn" name="button">Login</button>
  <br>
  <br>

</div>


<hr>

<ul>
  {{#each model.games as |game|}}
    {{#link-to 'game-detail' game.id}}<li>{{game.name}}</li>{{/link-to}}
  {{/each}}
</ul>
