<div class="container">
  <br>
  {{new-game saveGame="saveGame"}}
  <br>
  <button type="button" class="btn" name="button">Login</button>
  <br>
  <br>

</div>


<hr>

<ul>
  {{#each model.games as |game|}}
    {{#link-to 'game-detail' game.id}}<li>{{game.name}}</li>{{/link-to}}
  {{/each}}
</ul>
